{% extends '/azure/base.html' %}

{% block title %}Index Page{% endblock %}

{% block content %}

<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Access Key</h3>
                </div>
                <form role="form" id="accessKeyForm">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="connectionString">Connection String</label>
                            <input type="text" class="form-control" id="connectionString" placeholder="Enter connection string">
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Get Image</h3>
                </div>
                <form role="form" id="get-image-form">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="account_url">Account URL</label>
                            <input type="text" class="form-control" id="account_url_image" placeholder="Enter Account url">
                            <label for="container_name">Container Name</label>
                            <input type="text" class="form-control" id="container_name_image" placeholder="Enter Account url">
                            <!-- <label for="container_name">Blob Name</label>
                            <input type="text" class="form-control" id="blob_name_image" placeholder="Enter Account url"> -->
                            <label for="blob_dir">Blob 파일경로/이름</label>
                            <input type="text" class="form-control" id="blob_dir_image" placeholder="Enter Account url">
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Workload Identity</h3>
                </div>
                <form role="form" id="workload-IdentityForm">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="account_url">Account URL</label>
                            <input type="text" class="form-control" id="account_url" placeholder="Enter Account url">
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Get Image with GPT</h3>
                </div>
                <form role="form" id="get-image-gpt-form">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="account_url">Account URL</label>
                            <input type="text" class="form-control" id="account_url_gpt" placeholder="Enter Account url">
                            <label for="container_name">Container Name</label>
                            <input type="text" class="form-control" id="container_name_gpt" placeholder="Enter Account url">
                            <!-- <label for="container_name">Blob Name</label>
                            <input type="text" class="form-control" id="blob_name_image" placeholder="Enter Account url"> -->
                            <label for="blob_dir">Blob 파일경로/이름</label>
                            <input type="text" class="form-control" id="blob_dir_gpt" placeholder="Enter Account url">
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
            <div class="box box-success" id="resultBox" style="display: none;">
                <div class="box-header with-border">
                    <h3 class="box-title">결과</h3>
                </div>
                <div class="box-body">
                    <pre id="resultMessage"></pre>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
document.addEventListener('DOMContentLoaded', function() {
    // form
    const accessKeyForm = document.getElementById('accessKeyForm');
    const workload_IdentityForm = document.getElementById('workload-IdentityForm');
    const get_image_form = document.getElementById('get-image-form');
    const get_image_gpt_form = document.getElementById('get-image-gpt-form');
    // result
    const resultBox = document.getElementById('resultBox');
    const resultMessage = document.getElementById('resultMessage');

    accessKeyForm.addEventListener('submit', async function(event) {
        event.preventDefault(); // 기본 폼 제출 동작 방지

        const connectionString = document.getElementById('connectionString').value;
        if (!connectionString) {
            alert('Connection String을 입력해주세요.');
            return;
        }

        resultMessage.textContent = '처리 중...';
        resultBox.style.display = 'block';

        try {
            const response = await fetch('/StorageAccount/accesskey', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ connection_string: connectionString })
            });

            const result = await response.json();

            if (response.ok) {
                resultMessage.textContent = result.message;
                resultBox.classList.remove('box-danger');
                resultBox.classList.add('box-success');
            } else {
                resultMessage.textContent = result.message || '알 수 없는 오류가 발생했습니다.';
                resultBox.classList.remove('box-success');
                resultBox.classList.add('box-danger');
            }

        } catch (error) {
            console.error('Fetch Error:', error);
            resultMessage.textContent = `오류가 발생했습니다: ${error.message}`;
            resultBox.classList.remove('box-success');
            resultBox.classList.add('box-danger');
        }
    });

    workload_IdentityForm.addEventListener('submit', async function(event) {
        event.preventDefault(); // 기본 폼 제출 동작 방지

        const account_url = document.getElementById('account_url').value;
        if (!account_url) {
            alert('Connection String을 입력해주세요.');
            return;
        }

        resultMessage.textContent = '처리 중...';
        resultBox.style.display = 'block';

        try {
            const response = await fetch('/StorageAccount/workloadIdentity', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ account_url: account_url })
            });

            const result = await response.json();

            if (response.ok) {
                resultMessage.textContent = result.message;
                resultBox.classList.remove('box-danger');
                resultBox.classList.add('box-success');
            } else {
                resultMessage.textContent = result.message || '알 수 없는 오류가 발생했습니다.';
                resultBox.classList.remove('box-success');
                resultBox.classList.add('box-danger');
            }

        } catch (error) {
            console.error('Fetch Error:', error);
            resultMessage.textContent = `오류가 발생했습니다: ${error.message}`;
            resultBox.classList.remove('box-success');
            resultBox.classList.add('box-danger');
        }
    });

    get_image_form.addEventListener('submit', async function(event) {
        event.preventDefault(); // 기본 폼 제출 동작 방지

        const account_url = document.getElementById('account_url_image').value;
        if (!account_url) {
            alert('account_url을 입력해주세요.');
            return;
        }
        // const blob_name = document.getElementById('blob_name_image').value;
        // if (!blob_name) {
        //     alert('blob_name을 입력해주세요.');
        //     return;
        // }
        const container_name = document.getElementById('container_name_image').value;
        if (!account_url) {
            alert('account_url을 입력해주세요.');
            return;
        }
        const blob_dir = document.getElementById('blob_dir_image').value;
        if (!blob_dir) {
            alert('blob_dir을 입력해주세요.');
            return;
        }

        resultMessage.textContent = '처리 중...';
        resultBox.style.display = 'block';

        try {
            const response = await fetch('/StorageAccount/get-image', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ 
                    account_url: account_url,
                    container_name: container_name,
                    blob_dir: blob_dir,
                })
            });

            if (response.ok) {
                const blob = await response.blob();
                const imgUrl = URL.createObjectURL(blob);
                console.log(imgUrl)
                // 이미지를 화면에 표시
                const imgElement = document.createElement("img");
                imgElement.src = imgUrl;
                imgElement.style.maxWidth = "100%"; // 크기 조정 (옵션)
                imgElement.style.border = "1px solid #ccc"; // 보기 좋게 테두리 (옵션)

                resultBox.appendChild(imgElement);

                resultMessage.textContent = "이미지를 성공적으로 가져왔습니다.";
                resultBox.classList.remove('box-danger');
                resultBox.classList.add('box-success');
            } else {
                const result = await response.json();
                resultMessage.textContent = result.message || '알 수 없는 오류가 발생했습니다.';
                resultBox.classList.remove('box-success');
                resultBox.classList.add('box-danger');
            }

        } catch (error) {
            console.error('Fetch Error:', error);
            resultMessage.textContent = `오류가 발생했습니다: ${error.message}`;
            resultBox.classList.remove('box-success');
            resultBox.classList.add('box-danger');
        }
    });

    get_image_gpt_form.addEventListener('submit', async function(event) {
        event.preventDefault(); // 기본 폼 제출 동작 방지

        const account_url = document.getElementById('account_url_gpt').value;
        if (!account_url) {
            alert('account_url을 입력해주세요.');
            return;
        }
        // const blob_name = document.getElementById('blob_name_image').value;
        // if (!blob_name) {
        //     alert('blob_name을 입력해주세요.');
        //     return;
        // }
        const container_name = document.getElementById('container_name_gpt').value;
        if (!account_url) {
            alert('account_url을 입력해주세요.');
            return;
        }
        const blob_dir = document.getElementById('blob_dir_gpt').value;
        if (!blob_dir) {
            alert('blob_dir을 입력해주세요.');
            return;
        }

        resultMessage.textContent = '처리 중...';
        resultBox.style.display = 'block';

        try {
            const response = await fetch('/StorageAccount/get-image-and-analyze', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ 
                    account_url: account_url,
                    container_name: container_name,
                    blob_dir: blob_dir,
                })
            });
            const result = await response.json();
            if (response.ok) {
                // 1. Base64 데이터를 Data URL 형식으로 변환
                const imgUrl = `data:${result.mime_type};base64,${result.image_base64}`;
                console.log(result)

                // 기존 이미지 요소가 있으면 제거
                const existingImg = resultBox.querySelector("img");
                if (existingImg) {
                    existingImg.remove();
                }
                // 이미지를 화면에 표시
                const imgElement = document.createElement("img");
                // const test_imgUrl = URL.createObjectURL(blob_dir);
                // console.log(test_imgUrl)
                imgElement.src = imgUrl; // Base64 Data URL 사용
                imgElement.style.maxWidth = "100%"; // 크기 조정 (옵션)
                imgElement.style.border = "1px solid #ccc"; // 보기 좋게 테두리 (옵션)

                // 이미지와 GPT 답변을 분리하여 표시
                resultBox.appendChild(imgElement);

                // 3. GPT 답변 텍스트를 표시
                resultMessage.innerHTML = `LLM 분석 결과:<br>${result.message}`;

                // resultMessage.textContent = result.message;
                resultBox.classList.remove('box-danger');
                resultBox.classList.add('box-success');
            } else {
                const result = await response.json();
                resultMessage.textContent = result.message || '알 수 없는 오류가 발생했습니다.';
                resultBox.classList.remove('box-success');
                resultBox.classList.add('box-danger');
            }

        } catch (error) {
            console.error('Fetch Error:', error);
            resultMessage.textContent = `오류가 발생했습니다: ${error.message}`;
            resultBox.classList.remove('box-success');
            resultBox.classList.add('box-danger');
        }
    });
});
</script>
{% endblock %}