<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <!-- <img src="/static/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image"> -->
          <img src="/static/mz-logo.gif" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p style="margin-bottom: 5px;">만든이 : 김민서</p>
          <small style="color: #fff; display: block; margin-bottom: 5px;">
            <i class="fa fa-building text-aqua"></i> MEGAZONECLOUD
          </small>
          <a href="#" style="font-size: 11px;">
            <i class="fa fa-circle text-success"></i> Cloud AI & DX Ops
          </a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>

        {% if subtitle == 'Network Connection Test' %}
        <li class="active treeview">
        {% else %}
        <li class="treeview">
        {% endif %}
          <a href="/NetworkConnectionTest">
            <i class="fa fa-fw fa-save"></i> <span>Network Test</span>
            <span class="pull-right-container">
            </span>
          </a>
        </li>
        
        {% if subtitle == 'AzureNamingRule' %}
        <li class="active treeview">
        {% else %}
        <li class="treeview">
        {% endif %}
          <a href="/azure/AzureNamingRule">
            <i class="fa fa-font"></i> <span>Azure Naming Rule</span>
            <span class="pull-right-container">
            <small class="label pull-right bg-green">new</small>
            </span>
          </a>
        </li>
        
        {% if title == 'AWS' %}
        <li class="active treeview">
          {% else %}
          <li class="treeview">
            {% endif %}
            
            <a href="#">
              <i class="fa fa-amazon"></i> <span>AWS</span>
              <span class="pull-right-container">
              <small class="label pull-right bg-green">new</small>
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            {% if title == 'S3' %}
            <li class="active"><a href="/aws/s3"><i class="fa fa-circle-o"></i> S3</a></li>
            <li><a href="/aws/res"><i class="fa fa-circle-o"></i> RDS</a></li>
            {% elif title == 'Dashboard2' %}
            <li><a href="/aws/s3"><i class="fa fa-circle-o"></i> S3</a></li>
            <li class="active"><a href="/aws/res"><i class="fa fa-circle-o"></i> RDS</a></li>
            {% else %}
            <li><a href="/aws/s3"><i class="fa fa-circle-o"></i> S3</a></li>
            <li><a href="/aws/res"><i class="fa fa-circle-o"></i> RDS</a></li>
            {% endif %}
          </ul>
        </li>

        {% if title == 'Azure' %}
        <li class="active treeview">
        {% else %}
        <li class="treeview">
        {% endif %}

          <a href="#">
            <i class="fa fa-font"></i> <span>Azure</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            {% if subtitle == 'Storage Account' %}
            <li class="active"><a href="/azure/StorageAccount"><i class="fa fa-circle-o"></i> Azure Storage Account</a></li>
            <li><a href="/azure/Redis"><i class="fa fa-circle-o"></i> Azure Cache For Redis</a></li>
            <li><a href="/azure/AIFoundry"><i class="fa fa-circle-o"></i> AIFoundry</a></li>
            <li><a href="/azure/OpenAI"><i class="fa fa-circle-o"></i> Azure OpenAI</a></li>
            <li>
              <a href="#"><i class="fa fa-circle-o"></i> Azure OpenAI
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="/azure/OpenAI/Chat"><i class="fa fa-circle-o"></i> Azure OpenAI Chatting</a></li>
                <li><a href="/azure/OpenAI/Embedding"><i class="fa fa-circle-o"></i> Azure OpenAI Embedding</a></li>
              </ul>
            </li>
            <li><a href="/azure/AISearch"><i class="fa fa-circle-o"></i> Azure AISearch</a></li>
            <li><a href="/azure/DataBase"><i class="fa fa-circle-o"></i> Azure DataBase</a></li>
            <li><a href="/azure/ApplicationInsights"><i class="fa fa-circle-o"></i> ApplicationInsights</a></li>
            {% elif subtitle == 'Cache For Redis' %}
            <li><a href="/azure/StorageAccount"><i class="fa fa-circle-o"></i> Azure Storage Account</a></li>
            <li class="active"><a href="/azure/Redis"><i class="fa fa-circle-o"></i> Azure Cache For Redis</a></li>
            <li><a href="/azure/AIFoundry"><i class="fa fa-circle-o"></i> AIFoundry</a></li>
            <li><a href="/azure/OpenAI"><i class="fa fa-circle-o"></i> Azure OpenAI</a></li>
            <li>
              <a href="#"><i class="fa fa-circle-o"></i> Azure OpenAI
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="/azure/OpenAI/Chat"><i class="fa fa-circle-o"></i> Azure OpenAI Chatting</a></li>
                <li><a href="/azure/OpenAI/Embedding"><i class="fa fa-circle-o"></i> Azure OpenAI Embedding</a></li>
              </ul>
            </li>
            <li><a href="/azure/AISearch"><i class="fa fa-circle-o"></i> Azure AISearch</a></li>
            <li><a href="/azure/DataBase"><i class="fa fa-circle-o"></i> Azure DataBase</a></li>
            <li><a href="/azure/ApplicationInsights"><i class="fa fa-circle-o"></i> ApplicationInsights</a></li>
            {% elif subtitle == 'AI Foundry' %}
            <li><a href="/azure/StorageAccount"><i class="fa fa-circle-o"></i> Azure Storage Account</a></li>
            <li><a href="/azure/Redis"><i class="fa fa-circle-o"></i> Azure Cache For Redis</a></li>
            <li class="active"><a href="/azure/AIFoundry"><i class="fa fa-circle-o"></i> AIFoundry</a></li>
            <li><a href="/azure/OpenAI"><i class="fa fa-circle-o"></i> Azure OpenAI</a></li>
            <li>
              <a href="#"><i class="fa fa-circle-o"></i> Azure OpenAI
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="/azure/OpenAI/Chat"><i class="fa fa-circle-o"></i> Azure OpenAI Chatting</a></li>
                <li><a href="/azure/OpenAI/Embedding"><i class="fa fa-circle-o"></i> Azure OpenAI Embedding</a></li>
              </ul>
            </li>
            <li><a href="/azure/AISearch"><i class="fa fa-circle-o"></i> Azure AISearch</a></li>
            <li><a href="/azure/DataBase"><i class="fa fa-circle-o"></i> Azure DataBase</a></li>
            <li><a href="/azure/ApplicationInsights"><i class="fa fa-circle-o"></i> ApplicationInsights</a></li>
            {% elif subtitle == 'OpenAI' %}
            <li><a href="/azure/StorageAccount"><i class="fa fa-circle-o"></i> Azure Storage Account</a></li>
            <li><a href="/azure/Redis"><i class="fa fa-circle-o"></i> Azure Cache For Redis</a></li>
            <li><a href="/azure/AIFoundry"><i class="fa fa-circle-o"></i> AIFoundry</a></li>
            <li class="active"><a href="/azure/OpenAI"><i class="fa fa-circle-o"></i> Azure OpenAI</a></li>
            <li>
              <a href="#"><i class="fa fa-circle-o"></i> Azure OpenAI
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="/azure/OpenAI/Chat"><i class="fa fa-circle-o"></i> Azure OpenAI Chatting</a></li>
                <li><a href="/azure/OpenAI/Embedding"><i class="fa fa-circle-o"></i> Azure OpenAI Embedding</a></li>
              </ul>
            </li>
            <li><a href="/azure/AISearch"><i class="fa fa-circle-o"></i> Azure AISearch</a></li>
            <li><a href="/azure/DataBase"><i class="fa fa-circle-o"></i> Azure DataBase</a></li>
            <li><a href="/azure/ApplicationInsights"><i class="fa fa-circle-o"></i> ApplicationInsights</a></li>
            {% elif subtitle == 'OpenAI Chatting' %}
            <li><a href="/azure/StorageAccount"><i class="fa fa-circle-o"></i> Azure Storage Account</a></li>
            <li><a href="/azure/Redis"><i class="fa fa-circle-o"></i> Azure Cache For Redis</a></li>
            <li><a href="/azure/AIFoundry"><i class="fa fa-circle-o"></i> AIFoundry</a></li>
            <li><a href="/azure/OpenAI"><i class="fa fa-circle-o"></i> Azure OpenAI</a></li>
            <li class="active">
              <a href="#"><i class="fa fa-circle-o"></i> Azure OpenAI
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li class="active"><a href="/azure/OpenAI/Chat"><i class="fa fa-circle-o"></i> Azure OpenAI Chatting</a></li>
                <li><a href="/azure/OpenAI/Embedding"><i class="fa fa-circle-o"></i> Azure OpenAI Embedding</a></li>
              </ul>
            </li>
            <li><a href="/azure/AISearch"><i class="fa fa-circle-o"></i> Azure AISearch</a></li>
            <li><a href="/azure/DataBase"><i class="fa fa-circle-o"></i> Azure DataBase</a></li>
            <li><a href="/azure/ApplicationInsights"><i class="fa fa-circle-o"></i> ApplicationInsights</a></li>
            {% elif subtitle == 'OpenAI Embedding Model' %}
            <li><a href="/azure/StorageAccount"><i class="fa fa-circle-o"></i> Azure Storage Account</a></li>
            <li><a href="/azure/Redis"><i class="fa fa-circle-o"></i> Azure Cache For Redis</a></li>
            <li><a href="/azure/AIFoundry"><i class="fa fa-circle-o"></i> AIFoundry</a></li>
            <li class="active"><a href="/azure/OpenAI"><i class="fa fa-circle-o"></i> Azure OpenAI</a></li>
            <li class="active">
              <a href="#"><i class="fa fa-circle-o"></i> Azure OpenAI
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="/azure/OpenAI/Chat"><i class="fa fa-circle-o"></i> Azure OpenAI Chatting</a></li>
                <li class="active"><a href="/azure/OpenAI/Embedding"><i class="fa fa-circle-o"></i> Azure OpenAI Embedding</a></li>
              </ul>
            </li>
            <li><a href="/azure/AISearch"><i class="fa fa-circle-o"></i> Azure AISearch</a></li>
            <li><a href="/azure/DataBase"><i class="fa fa-circle-o"></i> Azure DataBase</a></li>
            <li><a href="/azure/ApplicationInsights"><i class="fa fa-circle-o"></i> ApplicationInsights</a></li>
            {% elif subtitle == 'AISearch' %}
            <li><a href="/azure/StorageAccount"><i class="fa fa-circle-o"></i> Azure Storage Account</a></li>
            <li><a href="/azure/Redis"><i class="fa fa-circle-o"></i> Azure Cache For Redis</a></li>
            <li><a href="/azure/AIFoundry"><i class="fa fa-circle-o"></i> AIFoundry</a></li>
            <li><a href="/azure/OpenAI"><i class="fa fa-circle-o"></i> Azure OpenAI</a></li>
            <li>
              <a href="#"><i class="fa fa-circle-o"></i> Azure OpenAI
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="/azure/OpenAI/Chat"><i class="fa fa-circle-o"></i> Azure OpenAI Chatting</a></li>
                <li><a href="/azure/OpenAI/Embedding"><i class="fa fa-circle-o"></i> Azure OpenAI Embedding</a></li>
              </ul>
            </li>
            <li class="active"><a href="/azure/AISearch"><i class="fa fa-circle-o"></i> Azure AISearch</a></li>
            <li><a href="/azure/DataBase"><i class="fa fa-circle-o"></i> Azure DataBase</a></li>
            <li><a href="/azure/ApplicationInsights"><i class="fa fa-circle-o"></i> ApplicationInsights</a></li>
            {% elif subtitle == 'DataBase' %}
            <li><a href="/azure/StorageAccount"><i class="fa fa-circle-o"></i> Azure Storage Account</a></li>
            <li><a href="/azure/Redis"><i class="fa fa-circle-o"></i> Azure Cache For Redis</a></li>
            <li><a href="/azure/AIFoundry"><i class="fa fa-circle-o"></i> AIFoundry</a></li>
            <li><a href="/azure/OpenAI"><i class="fa fa-circle-o"></i> Azure OpenAI</a></li>
            <li>
              <a href="#"><i class="fa fa-circle-o"></i> Azure OpenAI
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="/azure/OpenAI/Chat"><i class="fa fa-circle-o"></i> Azure OpenAI Chatting</a></li>
                <li><a href="/azure/OpenAI/Embedding"><i class="fa fa-circle-o"></i> Azure OpenAI Embedding</a></li>
              </ul>
            </li>
            <li><a href="/azure/AISearch"><i class="fa fa-circle-o"></i> Azure AISearch</a></li>
            <li class="active"><a href="/azure/DataBase"><i class="fa fa-circle-o"></i> Azure DataBase</a></li>
            <li><a href="/azure/ApplicationInsights"><i class="fa fa-circle-o"></i> ApplicationInsights</a></li>
            {% elif subtitle == 'ApplicationInsights' %}
            <li><a href="/azure/StorageAccount"><i class="fa fa-circle-o"></i> Azure Storage Account</a></li>
            <li><a href="/azure/Redis"><i class="fa fa-circle-o"></i> Azure Cache For Redis</a></li>
            <li><a href="/azure/AIFoundry"><i class="fa fa-circle-o"></i> AIFoundry</a></li>
            <li><a href="/azure/OpenAI"><i class="fa fa-circle-o"></i> Azure OpenAI</a></li>
            <li>
              <a href="#"><i class="fa fa-circle-o"></i> Azure OpenAI
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="/azure/OpenAI/Chat"><i class="fa fa-circle-o"></i> Azure OpenAI Chatting</a></li>
                <li><a href="/azure/OpenAI/Embedding"><i class="fa fa-circle-o"></i> Azure OpenAI Embedding</a></li>
              </ul>
            </li>
            <li><a href="/azure/AISearch"><i class="fa fa-circle-o"></i> Azure AISearch</a></li>
            <li><a href="/azure/DataBase"><i class="fa fa-circle-o"></i> Azure DataBase</a></li>
            <li class="active"><a href="/azure/ApplicationInsights"><i class="fa fa-circle-o"></i> ApplicationInsights</a></li>
            {% else %}
            <li><a href="/azure/StorageAccount"><i class="fa fa-circle-o"></i> Azure Storage Account</a></li>
            <li><a href="/azure/Redis"><i class="fa fa-circle-o"></i> Azure Cache For Redis</a></li>
            <li><a href="/azure/AIFoundry"><i class="fa fa-circle-o"></i> AIFoundry</a></li>
            <li><a href="/azure/OpenAI"><i class="fa fa-circle-o"></i> Azure OpenAI</a></li>
            <li>
              <a href="#"><i class="fa fa-circle-o"></i> Azure OpenAI
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="/azure/OpenAI/Chat"><i class="fa fa-circle-o"></i> Azure OpenAI Chatting</a></li>
                <li><a href="/azure/OpenAI/Embedding"><i class="fa fa-circle-o"></i> Azure OpenAI Embedding</a></li>
              </ul>
            </li>
            <li><a href="/azure/AISearch"><i class="fa fa-circle-o"></i> Azure AISearch</a></li>
            <li><a href="/azure/DataBase"><i class="fa fa-circle-o"></i> Azure DataBase</a></li>
            <li><a href="/azure/ApplicationInsights"><i class="fa fa-circle-o"></i> ApplicationInsights</a></li>
            {% endif %}
          </ul>
        </li>

      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>